


#myCarousel {
	.carousel-control.left, .carousel-control.right {
        background-image: none;	 
    }
    .carousel-control{
	   span{
		  color: #777777;
	   }
    }
    .item{ 
        text-align: center; 
    }
	 
} /*#myCarousel*/

.carousel{
    margin-top: 20px;
    padding: 100px 0px !important;
    .carousel-inner{
        height: 100%;
        width: 60%;
        display: block;
        margin: 0 auto;
         
        h2{
            margin: 0;     
            color: #666;
            padding-top: 90px;
            font-size: 52px;
            font-family: "trebuchet ms", sans-serif;   
        }
        blockquote{

            display: table-cell;
            vertical-align: middle;
            font: italic 21px/1.5em "Gentium Basic", Georgia, serif;
            color: #2894d8;
            padding: 0em 3em;
            position: relative;

              &::before {
                content: url('../img/blockquote-dark-top.png') ;
                position: absolute;
                width: 33px;
                height: 23px;
              left: 1em;
                top: 0;

              }
              &:after{
                content: url('../img/blockquote-dark-bottom.png');
                position: absolute;
                
                width: 33px;
                height: 23px;
                right: 1em;
                bottom: 70px;
              }
             cite{
                color:#6c6c6c;            
                display: block;
                margin-top: 42px;
                font-size: 16px;
                font-style: normal;
            }
        }/*blockquote*/
    } /*carousel-inner*/
} /*carousel*/
 
