


#clients{
	background-color: #ffffff;
	img{
	border-radius: 50%;
	height: 110px;
	width: 110px;
	}
	.client{
	border: 1px dashed #E5E5E5;
 	padding: 40px;
	border-left: none;
	border-top: none;
	padding-bottom: 20px;
	min-height: 200px;
		&:nth-child(even){
	border-right: none !important;

	}
	&:nth-child(n+3){
	border-bottom: none !important;

		} 
	}/*clien*/

hr{
	margin-bottom: 20px;
}

}





.client .col-xs-3{
	padding-right: 0;
}
.client h4{
	font-size: 16px;
	color: #5F5F5F;
}
.client h5 span{
	color: #DF5500;;
}
.client p{
	color: #A6A6A6;
}






#myCarousel {
	 
	h2{
    margin: 0;     
    color: #666;
    padding-top: 90px;
    font-size: 52px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #333;    
    text-align: center;
    height: 300px !important;
}
.carousel{
    margin-top: 20px;
}
.bs-example{
	margin: 20px;
}
}