


#clients{
	background-color: #ffffff;
	img{
	border-radius: 50%;
	height: 110px;
	width: 110px;
	}
			h2{
			text-transform: uppercase;
		}
	.client{

	border: 1px dashed #E5E5E5;
 	padding: 40px;
	border-left: none;
	border-top: none;
	padding-bottom: 20px;
	min-height: 200px;
		&:nth-child(even){
	border-right: none !important;

	}
	&:nth-child(n+3){
	border-bottom: none !important;

		} 
	}/*clien*/

hr{
	margin-bottom: 40px;
}

}





.client .col-xs-3{
	padding-right: 0;
}
.client h4{
	font-size: 16px;
	color: #5F5F5F;
}
.client h5 span{
	color: #DF5500;;
}
.client p{
	color: #A6A6A6;
}



